<section>
  <h1>Sobre</h1>
  <p>Somos uma comunidade brasileira de interessados e curiosos na plataforma WSO2, estamos aqui para compartilharmos conhecimento e notícias, além é claro de ajudar a difundir a tecnologia.</p>
  <p>E para quem ainda não conhece o WSO2, é uma suíte de produtos de código-livre integrados e modulares que dão suporte para implantação de uma plataforma SOA, suprindo a parte de criação, conexão, composição e governança de serviços.</p>
  <p>Sinta-se a vontade para ler nossas últimas postagens e acompanhar o pessoal da comunidade.</p>
</section>
